/* CSS RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, p {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.55;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2, h3 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* FONTS */

/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/josefin-sans-v34-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefin-sans-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM VARIABLES */

:root {

    /* COLORS */

    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-gray-900: #423A3A;
    --clr-red-400: #F96464;
    --clr-pink-400: #CE9898;
    --clr-gradient-1: linear-gradient(135deg, #F8BFBF, #EE8B8B);
    --clr-gradient-2: linear-gradient(135deg, #FFFFFF, #FFF4F4);
    --clr-gradient-3: linear-gradient(135deg, #FFF1F1, #FFFFFF);

    /* TYPOGRAPHY */

    --ff-main: "Josefin Sans", sans-serif;
    --fs-body: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);

    /* SPACINGS */

    --space-0: 0rem;
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-800: 4rem;
    --space-1000: 5rem;
    --space-1100: 5.5rem;
    --space-1700: 8.5rem;

    /* BORDER RADIUS */

    --rounded-lg: 40px;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  background-color: var(--clr-gradient-2);
  color: var(--clr-pink-400);
  padding-block-end: var(--space-400);
}

.header-mobile-tablet {
  padding-block: var(--space-400);
  padding-inline-start: clamp(var(--space-400), -0.8626rem + 12.2137vw, var(--space-1000));
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__banner {
  background-image: url("images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: clamp(15.625rem, 6.6794rem + 38.1679vw, 25rem);
  margin-block-end: var(--space-800);
}

.main__content {
  text-align: center;
  max-width: 27.813rem;
  width: 100%;
  padding-inline: var(--space-400);
}

.main__laptop-logo {
  display: none;
}

.main__title {
  font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  font-weight: 300;
  line-height: 1;
  letter-spacing: clamp(0.25em, 0.1777rem + 1.9084vw, 0.27em);
  text-transform: uppercase;
  margin-block-end: clamp(var(--space-200), 0.0458rem + 4.0712vw, var(--space-400));
}

.main__title-strong {
  font-weight: 600;
  color: var(--clr-gray-900);
}

.main__description {
  margin-block-end: var(--space-400);
}

.form__input-container {
  position: relative;
}

.form__email-input {
  font-size: 1rem;
  line-height: 2.15;
  color: var(--clr-gray-900);
  padding-block: clamp(var(--space-100), 0.0229rem + 2.0356vw, var(--space-200));
  padding-inline: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
  border: 1px solid var(--clr-pink-400);
  border-radius: var(--rounded-lg);
  width: 100%;
}

.form__email-input:focus-visible {
  outline-color: var(--clr-pink-400);
}

.form__email-input--error {
  border: 2px solid var(--clr-red-400);
}

.form__email-input::placeholder {
  color: var(--clr-pink-400);
}

.form__submit {
  position: absolute;
  right: 0;
  height: 100%;
  width: clamp(4rem, 1.8531rem + 9.1603vw, 6.25rem);
  background: var(--clr-gradient-1);
  border: transparent;
  border-radius: var(--rounded-lg);
  cursor: pointer;
}

.form__submit:hover {
  opacity: 0.7;
}

.form__submit:focus-visible {
  outline-color: var(--clr-pink-400);
}

.form__submit-img {
  margin-inline: auto;
}

.form__email-error {
  display: none;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 2.15;
  padding-inline: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
  text-align: start;
  color: var(--clr-red-400);
  margin-block-start: var(--space-100);
}

.form__email-error--visible {
  display: block;
}

.form__error-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: clamp(4.375rem, 1.6913rem + 11.4504vw, 7.1875rem);
}

@media screen and (min-width: 23.438em) {
  .form__error-icon--visible {
    display: block;
  }
}

@media screen and (min-width: 48em) {

  .main__banner {
    background-image: url("images/hero-tablet.jpg");
  }

  .main__content {
    padding-inline: unset;
  }

  .main__title-strong {
    line-height: 1.1;
  }

  .main__description {
    line-height: 2.15;
  }
}

@media screen and (min-width: 64em) {

  body {
    padding-block-end: unset;
  }

  .text-section {
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 57.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-block-start: var(--space-1000);
  }
  
  .main {
    display: flex;
    flex-direction: row-reverse;
  }

  .main__content {
    text-align: start;
  }

  .main__laptop-logo {
    display: block;
    height: 32px;
    width: auto;
    margin-block-end: var(--space-1700);
  }

  .main__banner {
    height: 100vh;
    width: 42.5%;
    margin-block-end: unset;
    background-image: url("images/hero-desktop.jpg");
  }

  .header-mobile-tablet {
    display: none;
  }
}